<html>
<head>
<title>Blog desc</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
</head>
<body style="background: #ce93d8">
<form action="/pradeep" method="POST">
    <p>TITLE HEADING: <input type="text" name="TITLE HEADING"></p>

    <P>Title description: <input type="text" name="x"></p>
    <p>desc: <input type="text" name="desc"></p>

    <p><input type="submit" value="Blog"></p>
    <a href="/loginForm" style="color: blue">Login here</a>
</form>
</body>
</html>