<!DOCTYPE html>
<html>
	<head>
	<title>Book catalog</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
	</style>
	</head>
	<body class="background">

		<div class="row" style="background: coral">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				<form>
					<center><input id="searchBox" type="text" name="searchQuery" ></center>
				</form>
			</div>
			<div class="col-md-3">
				<form>
					<input id="searchButton" type="submit" value="Search">
				</form>
			</div>
			<div class="col-md-3">
				<a class="link" href="/loginForm" style="color: white">Sign In</a>
			</div>
		</div>
		<div class="row" style="background-color: khaki;color:white;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">
			<h4><marquee>Welcome to my blog!!!</marquee></h4>
		</div>

	</body>
</html>